/* Import Google Fonts here as you normally would */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Declare Google fonts below */

/* Declare self hosted fonts below */
@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/monumentextended-ultrabold-webfont.woff2") format("woff2"),
    url("/fonts/monumentextended-ultrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/monumentextended-ultralight-webfont.woff2") format("woff2"),
    url("/fonts/monumentextended-ultralight-webfont.woff") format("woff");
}